[submodule "aichallenge/workspace/src/aichallenge_submit/multi_purpose_mpc_ros_custom"]
	path = aichallenge/workspace/src/aichallenge_submit/multi_purpose_mpc_ros_custom
	url = git@github.com:keigo06/multi_purpose_mpc_ros_custom.git
